<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }

    h1{text-align: center;}
    h2{text-align: center;}
    h3{text-align: center;}
    h4{text-align: center;}
    p{text-align: center; font-size: 5px;}

      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
    </style>
  </head>
  <body>

    <h1 align:center>Go Preach!</h1>
    <h2>
      Red=No Answer / Green=Preached / Blue=Contact
   </h2>

   <div class="container" align="center">
    <input type="radio" style="height:20px; width:20px" name="color" id="red" value="https://maps.google.com/mapfiles/ms/icons/red-dot.png" checked/><font size="10">Red</font>&emsp;
    <input type="radio" style="height:20px; width:20px" name="color" id="green" value="https://maps.google.com/mapfiles/ms/icons/green-dot.png"/><font size="10">Green</font>&emsp;
    <input type="radio" style="height:20px; width:20px" name="color" id="blue" value="https://maps.google.com/mapfiles/ms/icons/blue-dot.png"/><font size="10">Blue</font></br></br>
    <p id="result"></p>
    <div class="form-group">
      <button type="submit" id="logout-button" class="btn btn-primary rounded submit p-3 px-5"><font size="6">Log Out</font></button>
    </div>
</div>


   <h2>Tap once to drop Marker</h2>
   <h2>Tap once on a marker to display or hide address</h2>
   
  <script>
    // /* Global Variables */
    var infoWindows = [];
    var markers = [];
    var apiKey = "AIzaSyDmntNR4FrYo0CeTKdFl7Y83BGgi5-EZcc"
  </script>

    <div id="map"></div>

    <script src="../config.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/auth/logout.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-database.js"></script>
    <script>
   

    </script>

  <script src="../js/firebase-operations.js"></script>
  <script src="../js/map-interactions.js"></script>
  <script>   // Load the Google Maps API and initiate the map
    

    // loadMapScript();  
    </script>

  
  </body>
</html>